@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";
@import "./themes/turquoise";
@import "./normalize";

.app,
.app_modal {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    width: 100%;
}

.app_drawer {
    font: var(--font-m);
    background-color: var(--overlay-color);
    color: var(--primary-color);
    width: 100%;
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    width: 100%;
    display: flex;
    background: var(--bg-color);
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 20px;
    border: 2.5px solid var(--card-bg);
}
