@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";
@import "./themes/turquoise";
@import "./normalize";

.app,
.app_modal {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    width: 100%;
}

.content-page {
    width: 100%;
    display: flex;
    background: var(--bg-color);
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px 20px 20px 45px;
    margin: 0;
    height: calc(100vh - var(--navbar-heigth));
    overflow-y: auto;
    width: 80%;
}
