.ListBox {
    position: relative;
    margin: 0;
    border: 2px var(--accent-redesigned) solid;
    border-radius: 24px;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    position: absolute;
    z-index: 1;
    background: var(--dark-bg-redesigned);
    border-radius: 18px;
    box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
    gap: 8px;
    padding-left: 0;
    width: 100%;
    margin: 5px 0;
    border: 2px var(--accent-redesigned) solid;
}

.icon {
    padding: 0;
    margin: 0;
}

.item {
    padding: 10px 0;
    min-width: 100%;
    text-align: center;
    color: var(--text-redesigned);
}

.active {
    background-color: var(--light-bg-redesigned);
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.selected {
    background: var(--light-bg-redesigned);
}

.disabled {
    opacity: 0.7;
}

.button {
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 5px 5px 5px 15px;
}

.readonly {
    opacity: 0.4;

    .button {
        &:hover {
            color: var(--text-redesigned);
            fill: var(--text-redesigned);
        }
    }
}

.label {
    margin: auto 5px auto 0;
    font-size: var(--font-size-m);
    color: var(--text-redesigned);
    padding: 0;
}
