.ListBox {
    position: relative;
    margin: 0;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    position: absolute;
    z-index: 1;
    background: var(--dark-bg-redesigned);
    border-radius: 18px;
    box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
    gap: 8px;
    padding-left: 0;
    width: 100%;
    margin: 5px 0;
}

.item {
    padding: 10px 0;
    min-width: 100%;
    text-align: center;
}

.active {
    background-color: var(--light-bg-redesigned);
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.selected {
    background: var(--light-bg-redesigned);
}

.disabled {
    opacity: 0.7;
}

.button {
    width: 100px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.readonly {
    opacity: 0.6;

    .button {
        &:hover {
            color: var(--text-redesigned);
            fill: var(--text-redesigned);
        }
    }
}

.label {
    margin: auto 5px auto 0;
    font-size: var(--font-size-m);
    color: var(--primary-color);
    padding: 0;
}
