.LoginForm {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.input {
    margin: 10px auto 0 0;
    font-size: var(--font-m);
}

.inputRedesigned {
    width: 95%;
}

.loginBtn {
    margin: 15px auto 0;
    width: 100px;
    border-radius: 10px;
    align-items: center;
}

.loginBtnRedesigned {
    width: 100px;
    margin: auto;
    display: block;
}
