:root {
    --font-family-main: consolas, "Times New Roman", serif;
    --font-size-m: 16px;
    --font-size-l: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 40px;
    --font-line-m: 24px;
    --font-line-l: 32px;
    --font-line-xl: 40px;
    --font-line-xxl: 48px;
    --font-m: var(--font-line-m) / var(--font-line-m) var(--font-family-main);
    --font-l: var(--font-line-l) / var(--font-line-l) var(--font-family-main);
    --font-xl: var(--font-line-xl) / var(--font-line-xl) var(--font-family-main);
    --font-xxl: var(--font-line-xxl) / var(--font-line-xxl) var(--font-family-main);

    // размеры
    --navbar-heigth: 50px;
    --sidebar-wigth: 300px;
    --sidebar-width-collapsed: 100px;

    // модальное окно
    --modal-z-index: 10;

    // цвета
    --overlay-color: rgba(0 0 0 / 60%);
    --red-light: #f00;
    --red-dark: #ce0505;
}
