.Code {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    padding: 20px;
    position: relative;
    background: var(--code-bg);
    font-size: var(--font-size-m);
    overflow: auto;
}

.CodeRedesigned {
    padding: 20px;
    position: relative;
    background: var(--light-bg-redesigned);
    overflow: auto;
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
}

.copyBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: var(--font-size-l);
}

.icon {
    fill: var(--code-bg);
    stroke: var(--primary-color);
}
