.ProfileCardRedesigned {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.input {
    margin-top: 10px;
    color: var(--invert-bg-color);

    &:first-child {
        margin-top: 0;
    }
}

.loading {
    display: flex;
    justify-content: center;
    height: 200px;
}

.error {
    display: flex;
    height: min-content;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}
