.Sidebar {
    height: calc(100vh - var(--navbar-heigth));
    display: flex;
    flex-direction: column;
    width: var(--sidebar-wigth);
    background: var(--invert-bg-color);
    position: relative;
    transition: width 0.3s;
    justify-content: space-between;
}

.switchers {
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto auto 60px;
    gap: 20px;
}

.button {
    width: 80px;
    margin: 20px auto 0;
    color: var(--invert-primary-color);
    background: var(--invert-bg-color);
    cursor: pointer;
    font-size: 18px;
    height: 35px;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item {
    display: flex;
    align-items: center;
    margin: 10px auto 0 0;
}

.items {
    margin: 20px auto 0 20px;
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--invert-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
        display: none;
    }

    .items {
        margin: 20px auto 0;
    }
}
