.Sidebar {
    height: calc(100vh - var(--navbar-heigth));
    display: flex;
    flex-direction: column;
    width: var(--sidebar-wigth);
    background: var(--invert-bg-color);
    position: relative;
    transition: width 0.3s;
    justify-content: space-between;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.button {
    width: 80px;
    margin: 20px auto 0;
    color: var(--invert-primary-color);
    background: var(--invert-bg-color);
    cursor: pointer;
    font-size: 18px;
    height: 35px;
}

.switchers {
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
    gap: 20px;
}
