.item {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--invert-primary-color);
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
        display: none;
    }
}

.itemRedesigned {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 0 16px;
}

.collapsedRedesigned {
    padding: 0 8px;
    width: max-content;

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
        display: none;
    }
}

.active {
    background: linear-gradient(89.98deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
    position: relative;
    border-left: 2px solid  var(--accent-redesigned);
}
