.InputWrapper {
    display: flex;
    align-items: end;
}

.normal {
    .placeholder {
        font-size: var(--font-size-m);
        margin: auto 5px auto 0;
        text-wrap: none;
        align-items: start;
        color: var(--invert-primary-color);
        font-family: var(--font-family-main);
    }

    .input {
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
        color: transparent;
        text-shadow: 0 0 0 var(--invert-primary-color);
        font-size: var(--font-size-m);
        font-family: var(--font-family-main);
    }

    .caretWrapper {
        flex-grow: 1;
        position: relative;
        margin: 0;

        .caret {
            position: absolute;
            height: 3px;
            width: 9px;
            background: var(--invert-primary-color);
            bottom: 0;
            left: 9px;
            animation: blink 0.7s forwards infinite;
        }
    }
}

.invert {
    .placeholder {
        font-size: var(--font-size-m);
        margin: auto 5px auto 0;
        text-wrap: none;
        align-items: start;
        color: var(--primary-color);
        font-family: var(--font-family-main);
    }

    .caretWrapper {
        flex-grow: 1;
        position: relative;
        margin: 0;

        .caret {
            position: absolute;
            height: 3px;
            width: 9px;
            background: var(--primary-color);
            bottom: 0;
            left: 9px;
            animation: blink 0.7s forwards infinite;
        }
    }

    .input {
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
        height: 30px;
        color: transparent;
        text-shadow: 0 0 0 var(--primary-color);
        font-size: var(--font-size-m);
        font-family: var(--font-family-main);

        &:focus {
            outline: none;
        }
    }
}

.readonly {
    opacity: 0.5;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}
