.ArticleListItemRedesigned {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
}

.svg {
    width: 20px;
    height: 20px;
    margin: 20px 0 0;
}

.title {
    font-weight: 900;
}

.big {
    .views {
        margin: 0 8px 0 auto;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .username {
        margin: 0 0 0 8px;
    }

    .date {
        margin: 0 0 0 auto;
    }

    .title {
        margin: 8px 0 0;
    }

    .img {
        width: 100%;
        max-height: 420px;
        object-fit: contain;
    }

    .footer {
        display: flex;
        align-items: center;
        margin: 20px 0 0;
    }

    .textBlock {
        max-height: 72px;
        overflow-y: hidden;
    }
}

.small {
    max-width: 250px;
    cursor: pointer;
    transition: 0.5s;

    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        transition: 0.5s;
    }

    .img {
        width: 100%;
        height: 141px;
    }

    .cardWrapper {
        overflow: hidden;
    }

    .types {
        margin: 0;
        padding: 0;
    }

    .articleInfo {
        max-width: 233px;
        margin: auto;
    }

    .userInfo {
        margin: 0 0 16px 16px;
    }

    .subtitle {
        height: 113px;
        padding: 0 0 0 8px;
        overflow: hidden;
    }
}
