.app_dark_theme {
    --bg-color: #03038c;
    --invert-bg-color: #dedee9;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --invert-primary-color: #042696;
    --invert-secondary-color: #049bff;
}
