.app_dark_theme {
    --bg-color: #070786;
    --invert-bg-color: #dedee9;
    --primary-color: #038a03;
    --secondary-color: #028f02;
    --invert-primary-color: #042696;
    --invert-secondary-color: #049bff;
}
