.app_light_theme {
    --bg-color: #f5f4fb;
    --invert-bg-color: #1b0b8c;
    --primary-color: #1b0b8c;
    --secondary-color: #083568;
    --invert-primary-color: #f5f4fb;
    --invert-secondary-color: #f5f4fb;

    // redesigned
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(0 0 0 / 20%);

    // code
    --code-bg: #eae9e9;

    // card
    --card-bg: #dfdfe7;

    // listBoxBg
    --listboxbg: #dfdfe7;
}
