.app.ligth {
    --bg-color: #dedee9;
    --invert-bg-color: blue;
    --primary-color: #042696;
    --secondary-color: #049bff;
    --invert-primary-color: #04c704;
    --invert-secondary-color: #04ff04;
}
