.app_light_theme {
    --bg-color: #dedee9;
    --invert-bg-color: blue;
    --primary-color: #042696;
    --secondary-color: #049bff;
    --invert-primary-color: #02ab02;
    --invert-secondary-color: #029302;
}
