.app_turquoise_theme {
    --bg-color: #f4fafb;
    --invert-bg-color: #06a2c5;
    --primary-color: #06a2c5;
    --secondary-color: #049bff;
    --invert-primary-color: #f4fafb;
    --invert-secondary-color: #059e61;
}
