.Page {
    padding: 20px 20px 20px 45px;
    margin: 0;
    height: calc(100vh - var(--navbar-heigth));
    overflow-y: auto;
    width: 90%;
}

.PageRedesigned {
    overflow-y: auto;
}

.trigger {
    width: 20px;
    height: 10px;
}
