.navbar {
    width: 100%;
    height: var(--navbar-heigth);
    background-color: var(--invert-bg-color);
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
}

.links,
.dropdown {
    display: flex;
    gap: 30px;
    margin: 0 30px 0 10px;
    width: 350px;
    justify-content: space-between;
}

.dropdown {
    display: flex;
    margin: 0 20px 0 auto;
}

.popover {
    display: flex;
}

.mainLink {
    width: 100px;
    height: 40px;
}

.button {
    margin: 0 15px 15px;
}

.appName {
    text-align: center;
}

.actions {
    display: flex;
    margin-left: auto;
}

.notification {
    min-height: 150px;

    // max-height: 300px;
    max-width: 500px;
    overflow-y: auto;
}
