.ProfilePageHeader {
    .header {
        display: flex;
        color: var(--invert-bg-color);
        margin: 0 0 20px;
    }

    .editBth {
        margin: 0 0 0 auto;
    }

    .saveBth {
        margin: 0 0 0 10px;
    }
}
