.ArticlesDetailsPage {
    display: flex;
    flex-direction: column;
}

.detailsContainer {
    width: 93%;
}

.commentTitle {
    display: flex;
    margin: 40px 0 0;
}

.buttonBack {
    max-width: 300px;
}

.commentBlock {
    display: flex;
    flex-direction: column;
}

.recommendations {
    margin: 20px 0 0;
    flex-wrap: nowrap;
}
