.ArticlesDetailsPage {
    display: flex;
    flex-direction: column;
}

.commentTitle {
    display: flex;
    margin: 40px 0 0;
}

.buttonBack {
    max-width: 300px;
}

.commentBlock {
    display: flex;
    flex-direction: column;
}

.recommendations {
    margin: 20px 0 0 0;
    flex-wrap: nowrap;
    //overflow-y: hidden;
   // overflow-x: auto;
}
