.StarRating {
    stroke: var(--primary-color);
    width: max-content;
    display: flex;

    .hovered {
        fill: var(--primary-color);
    }
}

.StarRatingRedesigned {
    stroke: var(--icon-redesigned);
    width: max-content;
    display: flex;

    .hovered {
        fill: var(--icon-redesigned);
    }
}

.normal {
    fill: none;
}

.selected {
    cursor: auto;
}

.starIcon {
    cursor: pointer;
}
