.ProfileCard {
    padding: 20px;
    border: 2px solid var(--invert-bg-color);
}

.data {
    margin-top: 0;
}

.input {
    margin-top: 10px;
    color: var(--invert-bg-color);

    &:first-child {
        margin-top: 0;
    }
}

.loading {
    display: flex;
    justify-content: center;
    height: 200px;
}

.error {
    display: flex;
    height: min-content;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.editing {
    border: 2px solid var(--invert-primary-color);
}
