.CommentCard {
    padding: 10px;
    width: 100%;
}

.CommentCardRedesigned {
    box-sizing: border-box;
    max-width: 860px;
}

.header {
    display: flex;
    align-items: center;
}

.text {
    margin: 10px 0 0;
}

.textRedesigned {
    overflow-wrap: anywhere;
}

.username {
    margin: 0 0 0 10px;
}

.isLoading {
    width: 95%;
}
