.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 0 8px;
    border: 2px solid var(--icon-redesigned);
    height: 32px;
}

.m {
    height: 38px;
}

.s {
    height: 32px;
}

.l {
    height: 44px;
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);
    background: none;

    &::placeholder {
        color: var(--hint-redesigned);
    }
}

.focused {
    border: 2px solid var(--accent-redesigned);

    .withAddonRight svg,
    .withAddonLeft svg {
        color: var(--accent-redesigned);
    }
}

.withAddonLeft,
.withAddonRight {
    display: flex;
}

.withAddonLeft {
    padding-left: 4px;
}

.withAddonRight {
    padding-right: 4px;
}

.readonly {
    opacity: 0.7;
}
