.Text {
    color: var(--primary-color);
}

.title {
    color: var(--primery-color);
    padding: 0;
    margin: 0;
}

.text {
    color: var(--secondary-color);
    padding: 0;
    margin: 20px 0 0;
}

.size_s {
    .title {
        font-size: var(--font-size-l);
    }

    .text {
        font-size: var(--font-size-s);
    }
}

.size_m {
    .title {
        font-size: var(--font-size-l);
    }

    .text {
        font-size: var(--font-size-m);
    }
}

.size_l {
    .title {
        font-size: var(--font-size-xl);
    }

    .text {
        font-size: var(--font-sizel);
    }
}

.size_xl {
    .title {
        font-size: var(--font-size-xxl);
    }

    .text {
        font-size: var(--font-size-xl);
    }
}

.error {
    .title {
        color: var(--red-dark);
    }

    .text {
        color: var(--red-light);
    }
}

.primary {
    .title {
        color: var(--primary-color);
    }

    .text {
        color: var(--secondary-color);
    }
}

.primary-invert {
    .title {
        color: var(--invert-primary-color);
    }

    .text {
        color: var(--invert-secondary-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin: auto;
}
